@font-face { font-family: Montserrat; src: url('.docs/assets/Montserrat/static/Montserrat-Regular.ttf'); } 
@font-face { font-family: Montserrat; font-weight: bold; src: url('.docs/assets/Montserrat/static/Montserrat-Bold.ttf');}
.navbar{
   position: sticky;
   position: -webkit-sticky;
   top: 0;
   z-index: 99;
   background-color: #2f2c3a;
   padding: 10px 5%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.navbar a{
  float: right;
  color: #d8717b;
  padding: 22px 16px;
  text-decoration: none;
  font-size: 30px;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
.navbar .logo{
  display: block;
  float: left;
  max-height: 80px;
  max-width: 200px;
  padding: 0;
}
.navbar .icon {
  display: none;
}
.navbar a:hover {
  background-color: #d8717b;
  color: #2f2c3a;
}
.navbar a.active {
  background-color: #04AA6D;
  color: white;
}
.sticky{
  position: fixed;
  top:0;
  width: 100%;
}
.navMenu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
  
}
.menuIcon {
  display: none;
}
.bar {
  width: 20px;
  height: 3px;
  background-color: #d8717b;
  margin: 4px auto;
}
.navMenu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
}

.menuItem {
  display: inline-block;
  margin-left: 10px;
}

.TiTTLink{
  margin: 0;
}
 
h1{
  font-family:'Montserrat', sans-serif;
  justify-content: center;
  text-align: center;  
  color: #d8717b;
  font-size: 4em;
  margin-top: 1em;
  padding: 5%;
}
h2{
  font-family:'Montserrat', sans-serif;
  justify-content: center;
  text-align: center;  
  color: #d8717b;
  font-size: 2em;
}
li{
  font-family:'Montserrat', sans-serif;
  justify-content: center;
  text-align: center;  
  list-style-type: none;
  color: #d8717b;
  font-size: 2em;
}
iframe{
  display: block;
  margin: 0 auto;
}
.steamLink{
  display: none;
}
.steamLink a{
  font-family:'Montserrat', sans-serif;
  font-size: 2em;
  text-align: center;
  justify-items: center;
  margin: 5%;
  color: #d8717b;
}
a{
  font-family:'Montserrat', sans-serif;
  font-size: 1.5em;
  text-align: center;
  margin: 5%;
  justify-items: center;
  color: #d8717b;
}
p{
  font-family:'Montserrat', sans-serif;
  font-size: 1.5em;
  text-align: left;
  justify-items: center;
  margin: 5%;
  color: #d8717b;
}


.namesTeam{
  float: left;
  box-sizing: inherit;
  width: 50%;
  justify-content: center;
}

.peopleList{
  display: flex;
  margin-left: 5%;
}
.namesMent{
  float: right;
  display: flex;
  box-sizing: inherit;
  justify-content: center;
  width: 50%;
}


.parallax {
  background-image: url("./docs/assets/AbductedMonkeysLogo10_Jordan-02.png") ;

  min-height: 700px;
  
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallaxTorando1 {
  background-image: url("./docs/assets/image_002_0020.png") ;

  min-height: 400px;

  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallaxTorando2 {
  background-image: url("./docs/assets/image_002_0100.png") ;

  min-height: 400px;
  
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallaxTorando3 {
  background-image: url("./docs/assets/image_017_0020.png") ;

  min-height: 400px;
  
  background-attachment: fixed;
  background-position-y: 100px;
  background-repeat: no-repeat;
  background-size: cover;
}


.contactImgs
{
  max-width: 100px;
  display:flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
.contactImgs img{
  max-width: 100px;
  padding: 10px;
}
.contactLinks p{
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2px;
}
.socialsImg{
  max-width: 100px;
  display:flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
.socialsImg img{
  max-width: 100px;
  padding: 10px;
}


body, html {
  height: 100%;
  margin: 0%;
  background-color: #2F2C3A;
}

@media screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
  }

.logo {
    width: 100%;
}

.navMenu {
    width: 100%;
    display: none;
    width: 100%;
}
.steamWidget{
  display: none;
}
.steamLink{
  display: block;
  text-align: center;
}
iframe{
  height: 200px;
  width: 320px;
}
.menuItem {
    display: block;
    width: 100%;
    padding: 5px 0;
    text-align: end;
}
p{
  font-size: 1.5em;
}
h1{
  font-size: 2em;
}
.active {
  display: block;
}
.peopleList{
  display: grid;
}
.namesMent{
  justify-content: left;
  width: auto;
}
.namesTeam{
  justify-content:left;
  width: auto;
}
.parallax{
  height: fit-content;
  min-height: 200px;
  background-attachment: scroll;
  background-size: contain;
  background-position-y: 20%;
}
.parallaxTorando1{
  background-attachment: scroll;
}
.parallaxTorando2{
  background-attachment: scroll;
}
.parallaxTorando3{
  background-attachment: scroll;
}

.menuIcon {
    display: block;
    position: absolute;
    top: 35px;
    right: 5%;
}

.menuIcon:hover .bar {
    background-color: #d8717b;
}
}